@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-neutral: var(--color-neutral);
  --color-base-100: var(--color-base-100);
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
}

:root {
    --color-primary: #1d4ed8;
    --color-secondary: #9333ea;
    --color-accent: #f59e0b;
    --color-neutral: #374151;
    --color-base-100: #ffffff;
    --color-info: #3b82f6;
    --color-success: #10b981;
    --color-warning: #fbbf24;
    --color-error: #ef4444;
}


@layer base {
  input {
    outline: none;
  }

  input:focus {
    box-shadow: 0 0 0 1px var(--color-secondary);
  }
}